[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-migrate = "*"
gunicorn = "*"

[dev-packages]
watchdog = "*"
faker = "*"
flake8 = "*"

[requires]
python_version = "3.11"
